@font-face {
    font-family: ArialRounded;
    src: url(../fonts/arial-rounded-mt-bold-gras.ttf);
}
@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/roboto-bold-condensed.ttf);
}
@font-face {
    font-family: RobotoCn;
    src: url(../fonts/roboto-condensed.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto Slab;
    src: url(../fonts/roboto-slab-regular.ttf);
}
.menu {
  height: 125px;
  background-color: #e5e5e5!important;
}
.menu__logo {
  margin: 0 0 0 215px;
  color: #4e4e4e;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;
}
.menu-links {
  margin-right: 40px;
}
.menu__link {
  padding: 0 12px;
  color: #4e4e4e;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #1abb9c!important;
}
header {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header h1 {
  color: #f3f3f3;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 35px;
  padding-top: 199px;
}
header p {
  color: #a8a8a8;
  font-family: "Roboto Slab";
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  margin: 43px auto;
}
header button {
  color: #ffffff;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 17px 26px;
  border: none;
  background-color: #3f8dbf;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 286px;
  cursor: pointer;
  border-radius: 3px;
}
.about {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 60px;
}
.about__element {
  padding-top: 140px;
  padding-bottom: 60px;
}
.about__element h2 {
  color: #4e4e4e;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.about__element p {
  color: #616161;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.about__element_pellentesque {
  background-image: url(../img/Pellentesque.png);
  background-repeat: no-repeat;
  background-position: top 48px center;
}
.about__element_consectetur {
  background-image: url(../img/Consectetur.png);
  background-repeat: no-repeat;
  background-position: top 48px center;
}
.about__element_tristiquet {
  background-image: url(../img/Tristiquet.png);
  background-repeat: no-repeat;
  background-position: top 48px center;
}
.about__element_fermentum {
  background-image: url(../img/Fermentum.png);
  background-repeat: no-repeat;
  background-position: top 48px center;
}
.journal h2 {
  color: #4e4e4e;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  text-align: left;
}
.portfolio {
  border: none;
}
.portfolio__body {
  padding: 0;
  margin: 0;
}
.portfolio__title {
  color: #4e4e4e;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 23px 0 14px 0;
  margin: 0;
  text-align: left;
}
.portfolio h5 {
  color: #a8a8a8;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: left;
}
.portfolio__text {
  color: #5c5c5c;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding: 23px 0 57px 0;
  text-align: left;
}
.service {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
.service__img {
  padding-top: 54px;
  text-align: center;
}
.service__text {
  padding: 33px 0 52px 0;
  color: #a1a1a1;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 72%;
  text-align: center;
  margin: 0 auto;
}
.features {
  background-color: #222;
  box-shadow: inset 0 9px 0 rgba(0, 0, 0, 0.22);
  padding-bottom: 50px;
}
.features h3 {
  padding-top: 50px;
  color: #6c6c6c;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.features__text {
  color: #cacaca;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 26px;
  margin: 0;
}
.features img {
  padding-right: 10px;
}
li.features__text {
  list-style-image: url(../img/list-style.png);
}
footer {
  background-color: #222;
  text-align: left;
}
footer p {
    border-top: solid 2px #cacaca;
    padding-top: 47px;
    padding-bottom: 47px;
    color: #cacaca;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
